*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
}

body{
    background-image: url("https://img.freepik.com/free-photo/front-view-white-texture-background-3d-3d-illustration_78895-2516.jpg?w=2000");
}
.font-link{
    font-family: 'Roboto', sans-serif;
}

.font-show{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.font-delete{
    font-size: 20px;
    color: black;
}

/* HomePage*/
.top-bar{
    display: flex;
    position: sticky;
    width: 100%;
    height: 3rem;
    background-color: rgb(0, 0, 0);

}

.logo-title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 30%;
    font-style: solid;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.logo-title a{
    color: rgb(255, 255, 255);
}

.logo-title a:hover{
    color: grey;
}

.table-routes{
    display: flex;
    list-style: none;
    width: 70%;
    justify-content: end;
}

.table-routes li{
    font-size: 25px;
    margin-top: 5px;
    margin-right:8% ;    
}

.table-routes a{
    color: grey;
}

.table-routes a:hover{
    color:rgb(255, 255, 255)
}

/*AddTechnical & EditTechnical*/

.table-date{
    background-color:rgb(216, 216, 216);
    width: 60%;
    margin-top: -30px;
    margin-left: 20%;
    border: 3px solid black;
    border-radius: 10%;
    height: 70%;
}

.center-table{
    margin-top: -10px;
    margin-bottom: 5px;
    width: 80%;
    margin-left: 10%;
}

.center-table input{
    background-color: white;
    border: 2px solid rgb(112, 112, 112);
}

.center-table input:hover{
    border: 2px solid rgb(0, 0, 0);
}

/*Show Visual*/

.showtable{

    border: 2px solid black;
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    background-color: rgb(136, 136, 136);
}

.table-nscc{
    display: flex;
    position: sticky;
    
}

.nscc-start{
    text-align: center;
    width: 25%;
    background-image: linear-gradient(to right, rgb(0, 16, 163), rgb(73, 41, 255) );
}

.nscc{
    text-align: center;
    width: 25%;
    background-color: rgb(73, 41, 255);
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.nscc-end{
    text-align: center;
    width: 25%;
    background-image: linear-gradient(to right, rgb(73, 41, 255), rgb(0, 16, 163));
}

.nscc-start div{
    background-color: rgb(255, 255, 255);
    color: black;
    font-style: italic;
}

.nscc div{
    background-color: rgb(255, 255, 255);
    color: black;
    font-style: italic;
}

.nscc-end div{
    background-color: rgb(255, 255, 255);
    color: black;
    font-style: italic;
}

.table-a{
    display: flex;
    position: sticky;

}

.a{  
    width: 25.1%;
    background-image: linear-gradient(to right, rgb(0, 16, 163), rgb(73, 41, 255));
    border-right: 1px solid;
    text-align: center;
}

.a-date{
    border-top: 1px solid;
    background-color: white;
    width: 74.9%;
    text-align: center;
    font-style: italic;
}

/*Delete table*/

.deletetable{
    border: 2px solid black;
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    background-color: rgb(136, 136, 136);
    cursor: pointer;
}

 .deletetable:hover{
    opacity: 0.7;
}

.Dnscc-start{
    text-align: center;
    width: 25%;
    background-image: linear-gradient(to right, rgb(119, 1, 1), rgb(201, 0, 0) );
}

.Dnscc{
    text-align: center;
    width: 25%;
    background-color: rgb(201, 0, 0);
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.Dnscc-end{
    text-align: center;
    width: 25%;
    background-image: linear-gradient(to right, rgb(201, 0, 0), rgb(119, 1, 1) );
}

.Dnscc-start div{
    background-color: rgb(255, 255, 255);
    color: black;
    font-style: italic;
}

.Dnscc div{
    background-color: rgb(255, 255, 255);
    color: black;
    font-style: italic;
}

.Dnscc-end div{
    background-color: rgb(255, 255, 255);
    color: black;
    font-style: italic;
}


.Da{  
    width: 25.1%;
    background-image: linear-gradient(to right, rgb(119, 1, 1),  rgb(201, 0, 0) );
    border-right: 1px solid;
    text-align: center;
}


/**/

.edittable{

    border: 2px solid black;
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    background-color: rgb(136, 136, 136);
    cursor: pointer;
}

.edittable:hover{
    opacity: 0.8;
}

.Enscc-start{
    text-align: center;
    width: 25%;
    background-image: linear-gradient(to right, rgb(99, 99, 99),  rgb(189, 189, 189));
}

.Enscc{
    text-align: center;
    width: 25%;
    background-color: rgb(189, 189, 189);
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.Enscc-end{
    text-align: center;
    width: 25%;
    background-image: linear-gradient(to right, rgb(189, 189, 189), rgb(99, 99, 99) );
}

.Enscc-start div{
    background-color: rgb(255, 255, 255);
    color: black;
    font-style: italic;
}

.Enscc div{
    background-color: rgb(255, 255, 255);
    color: black;
    font-style: italic;
}

.Enscc-end div{
    background-color: rgb(255, 255, 255);
    color: black;
    font-style: italic;
}


.Ea{  
    width: 25.1%;
    background-image: linear-gradient(to right, rgb(99, 99, 99),  rgb(189, 189, 189));
    border-right: 1px solid;
    text-align: center;
}




